on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build_and_test:
    name: test
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master
      - name: Install cargo
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Run cargo clippy (deny warnings)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          # --all-targets makes it lint tests too
          args: --all-targets -- --deny warnings
      - name: Run test
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: Run tests with disabled decimal mode
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -F disable_decimal_mode
